body {
  padding: 0;
  margin: 0;
  font-size: 0.9rem !important; }

/* Common Styles */
.container {
  position: relative; }

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #f93;
  font-size: 32px;
  color: #262626;
  font-weight: bolder; }

h3 {
  font-size: 1.2em; }

main hr {
  border-bottom: 3px solid #f93;
  width: 60px;
  margin: 2px auto;
  transition: width 500ms ease-in-out; }

/* Styles for Nav */
nav {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000000;
  background-color: #fff;
  border-bottom: 1px solid #ccc; }

nav .container > * {
  display: inline-block;
  vertical-align: middle; }

nav #logo {
  height: 40px; }

nav .title {
  width: 100px;
  font-size: 16px;
  line-height: 13px;
  color: #f93; }

nav .hamburger {
  color: #666666;
  font-size: 16px;
  line-height: 13px;
  padding: 6px 5px 5px;
  margin: auto;
  display: none; }

nav .hamburger img {
  margin-top: -3px;
  border: 0; }

nav .hamburger button:focus {
  outline: 0; }

nav .menu {
  text-align: right;
  float: right; }

nav .menu li {
  text-align: center; }

nav ul {
  margin: 0;
  list-style-type: none;
  padding: 1px;
  display: inline-block; }

nav ul > li {
  border: 3px solid #666666;
  margin: 1px;
  padding: 6px 5px 5px;
  color: #666666;
  font-size: 13px;
  display: inline-block;
  transition: border-color 500ms ease-in, color 500ms ease-in; }

nav ul li a,
nav ul li a:hover {
  text-decoration: none;
  color: #666666;
  display: block; }

nav ul > li:hover {
  color: #f93;
  border: 3px solid #f93; }

/* Styles for MAIN */
main {
  padding: 0;
  padding-top: 41px;
  margin: 0; }

section {
  position: relative;
  margin: 0 auto; }

section:hover hr {
  width: 100px; }

section .container > span {
  position: absolute;
  top: -60px; }

/* Section - SLIDER */
section.slider .container {
  background: #fff; }

section.slider .carousel {
  margin: 0 auto; }

section.slider .carousel img {
  margin: 0 auto; }

section.slider .carousel-control-next-icon, .carousel-control-prev-icon {
  border: 3px solid black;
  color: #f93 !important;
  background-color: black; }

section.slider .carousel-indicators {
  z-index: 1; }

/* Section - VISION */
section.vision {
  margin: 10px 0;
  text-align: center;
  background: repeating-linear-gradient(45deg, #fff, #fff 5px, #ddd 5px, #ddd 10px); }

section.vision .container {
  padding-top: 30px;
  background-color: transparent; }

section.vision .header {
  text-align: center; }

section.vision h2,
section.vision .h2 {
  font-size: 1.2rem;
  color: #666666; }

section.vision h3,
section.vision .h3 {
  color: #000;
  text-align: center; }

section.vision .status {
  border: 0;
  background: transparent;
  padding: 7px;
  color: #138808;
  transition: all 1s ease-in-out; }

section.participants .list .menu {
  margin: 0;
  list-style-type: none;
  padding: 0; }

section.participants .list .menu > li {
  padding: 2px; }

section.participants .list .menu h3 {
  border: 3px solid #f93;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: #f93;
  transition: all 1s ease-in-out;
  cursor: pointer; }

section.participants .list .menu h3:hover,
section.participants .list .menu h3:focus {
  background-color: #f93;
  color: #fff; }

section.participants .list div {
  opacity: 0;
  height: 0;
  border: 3px solid #f93;
  border-top: 0;
  padding: 5px;
  transition: all 1s ease-in-out; }

section.participants .list div > ul {
  margin: 0;
  padding-left: 30px; }

section.participants .list .show {
  opacity: 1;
  height: 550px;
  border: 3px solid #f93;
  border-top: 0; }

section.participants .list .hide {
  opacity: 0;
  height: 0;
  border: 3px solid #f93;
  border-top: 0; }

section.register .form {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 500px; }

section.register .field {
  margin: 0 auto;
  padding: 2px; }

section.register .field > * {
  display: block; }

section.register label {
  margin: 0 auto;
  margin-top: 5px;
  text-transform: uppercase; }

section.register input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #f93; }

section.register input:active,
section.register input:focus {
  outline: 0; }

section.register input[type=submit] {
  padding: 10px;
  background-color: #f93;
  color: #fff; }

section.knowledge-partner ul {
  list-style-type: none;
  padding: 0; }

section.knowledge-partner img {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto; }

article {
  padding: 10px; }

article ul {
  list-style-type: square;
  text-align: left; }

.guests {
  padding: 5px; }

.guests figure {
  width: 200px;
  height: auto;
  padding: 5px;
  margin: 5px auto; }

.item {
  padding: 0; }

.guests figure img {
  width: 100%; }

.guests figcaption {
  padding-top: 10px; }

section.participants h3 {
  text-align: center;
  color: #f93;
  font-size: 1.75rem; }

.guests .h4,
.guests h4 {
  font-size: 0.9rem;
  text-align: center;
  margin: 0; }

.guests .h6,
.guests h6 {
  font-size: 0.8rem;
  text-align: center;
  color: #666666; }

footer {
  border: 1px solid transparent;
  border-top-color: #ccc;
  margin-top: 10px;
  height: 50px; }

footer p {
  text-align: center;
  color: #666666;
  font-size: 0.8em;
  padding: 10px; }

#btn-hamburger,
#btn-hamburger:active {
  border: 0;
  background: transparent;
  padding: 5px; }

.quicklook {
  border: 1px solid #000; }

.quicklook .container {
  margin: 10px auto;
  border: 1px solid #0f0; }

.required {
  color: red; }

@media (max-width: 770px) {
  section.vision .header img {
    width: 200px;
    height: auto; }

  section.vision h2,
  section.vision .h2 {
    font-size: 0.9rem; }

  section.vision h3,
  section.vision .h3 {
    font-size: 0.8rem;
    text-align: center;
    font-size: 14px;
    text-align: center;
    line-height: 20px; }

  #hamburger {
    display: inline-block !important;
    height: 40px;
    float: right; }

  #menu {
    padding: 0;
    overflow-y: hidden;
    left: 0;
    width: 100%;
    opacity: 0;
    display: block;
    background-color: #fff;
    height: 0;
    transition: all 1s ease-in-out;
    /*cubic-bezier(0, 1, 0.5, 1)*/ }

  #menu li {
    display: block; }

  #menu.menu-open {
    opacity: 1;
    height: 230px; }

  #menu.menu-close {
    height: 0;
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
