$color-primary: #666666;
$color-secondary: #f93;
$color-green: #138808;
$size: 13px;

body {
    padding: 0;
    margin: 0;
    // position: relative;
    font-size: 0.9rem !important;
    // background-color: blue;
}
/* Common Styles */
.container {
    position: relative;

}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: $color-secondary;
    font-size: 32px;
    color: #262626;
    font-weight: bolder;
}
h3 {
    font-size: 1.2em;
}

main hr {
    border-bottom: 3px solid $color-secondary;
    width: 60px;
    margin: 2px auto;
    transition: width 500ms ease-in-out;
}

/* Styles for Nav */
nav {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000000;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    // display: none;
    // border: 1px solid #0f0;
}
nav .container {
    // border: 1px solid transparent;
    // background-color: #0f0;
    // border: 1px solid #000;
}
nav .container > * {
    display: inline-block;
    // background-color: blue;
    vertical-align: middle;
}
nav #logo {
    height: 40px;
}
nav .title {
    width: 100px;
    font-size: 16px;
    line-height: 13px;
    color: $color-secondary
}

nav .hamburger {
    color: $color-primary;
    font-size: 16px;
    line-height: 13px;
    padding: 6px 5px 5px;
    margin: auto;
    display: none;
}
nav .hamburger img {
    margin-top: -3px;
    border: 0;
}

nav .hamburger button:focus {
    outline: 0;
}

nav .menu {
    // margin: 20px 0 0;
    text-align: right;
    float: right;
}
nav .menu li {
    text-align: center;
}
nav .hamburger {
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 1px;
    display: inline-block;
}
nav ul > li {
    border: 3px solid $color-primary;
    margin: 1px;
    padding: 6px 5px 5px;
    color: $color-primary;
    font-size: $size;
    display: inline-block;
    transition: border-color 500ms ease-in, color 500ms ease-in;
}
nav ul li a,
nav ul li a:hover {
    text-decoration: none;
    color: $color-primary;
    display: block;
}
nav ul > li:hover {
    color: $color-secondary;
    border: 3px solid $color-secondary;
}

/* Styles for MAIN */
main {
    padding: 0;
    padding-top: 41px;
    // display: none;
    margin: 0;
}
section {
    position: relative;
    // border: 1px solid #000;
    margin: 0 auto;
}
section:hover hr {
    width: 100px;
}
section .container > span {
    position: absolute;
    top: -60px;
}

/* Section - SLIDER */
section.slider {
    // border: 1px solid #000;
    // padding: 10px;
    // display: none;
    // background-color: #f93;
}
section.slider .container {
    background: #fff;
}
section.slider .carousel {
    margin: 0 auto;
    // margin-bottom: 20px;
}
section.slider .carousel img {
    margin: 0 auto;
}

section.slider .carousel-control-next-icon, .carousel-control-prev-icon {
    border: 3px solid black;
    color: $color-secondary !important;
    background-color: black;
}
section.slider .carousel-indicators {
    z-index: 1;
}

/* Section - VISION */
section.vision {
    margin: 10px 0;
    text-align: center;
    background: repeating-linear-gradient(
        45deg,
        #fff,
        #fff 5px,
        #ddd 5px,
        #ddd 10px
    );
    // transition: all 1s ease-in-out;
    
    // position: relative;
    // padding-bottom: 30px;
}
section.vision .container {
    padding-top: 30px;
    background-color: transparent;
    // transition: background-color 1m ease-in-out;
    // border: 1px solid #000;
}
section.vision .header {
    text-align: center;
}
// section.vision h1,
// section.vision .h1 {
//     border: 0;
//     margin: 0;
//     font-size: 2rem;
//     text-transform: none;
//     color: $color-secondary;
// }
section.vision h2,
section.vision .h2 {
    font-size: 1.2rem;
    color: $color-primary;
}
section.vision h3,
section.vision .h3 {
    color: #000;
    text-align: center;
}
section.vision .status {
    border: 0;
    background: transparent;
    padding: 7px;
    color: $color-green;
    transition: all 1s ease-in-out;
}

section.participants .list {
}
section.participants .list .menu {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
section.participants .list .menu > li {
    padding: 2px;
}
section.participants .list .menu h3 {
    border: 3px solid $color-secondary;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: $color-secondary;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
section.participants .list .menu h3:hover,
section.participants .list .menu h3:focus {
    background-color: $color-secondary;
    color: #fff;
}
section.participants .list div {
    opacity: 0;
    height: 0;
    border: 3px solid $color-secondary;
    border-top: 0;
    padding: 5px;
    transition: all 1s ease-in-out;
}
section.participants .list div > ul {
    margin: 0;
    padding-left: 30px;
}

section.participants .list .show {
    opacity: 1;
    height: 550px;
    border: 3px solid $color-secondary;
    border-top: 0;
    
}

section.participants .list .hide {
    opacity: 0;
    height: 0;
    border: 3px solid $color-secondary;
    border-top: 0;
    // padding: 0;
}


section.register .form {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 500px;
}
section.register .field {
    margin: 0 auto;
    padding: 2px;
}
section.register .field > * {
    display: block;
}
section.register label {
    margin: 0 auto;
    margin-top: 5px;
    // text-align: right;
    text-transform: uppercase;
}
section.register input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid $color-secondary;
}
section.register input:active,
section.register input:focus {
    outline: 0;
}
section.register input[type=submit] {
    padding: 10px;
    background-color: $color-secondary;
    color: #fff;
    // transition: background-color 500ms ease-in
}


// section.participants .list .content > ul.show {
//     border: 1px solid #0f0;
//     opacity: 1;
// }
// section.participants .list .content > ul.hide {
//     border: 1px solid transparent;
//     opacity: 0;
// }
section.knowledge-partner ul {
    list-style-type: none;
    padding: 0;
}

section.knowledge-partner img {
    display: block;
    width: 400px;
    height: auto;
    margin: 0 auto;

}

article {
    // border: 1px solid #ccc;
    padding: 10px;
}
article ul {
    // color: $color-primary;
    // font-size: $size;
    // text-align: center;
    list-style-type: square;
    text-align: left;
}
.guests {
    // border: 1px solid #ccc;
    padding: 5px;
}
.guests figure {
    // display: none;
    width: 200px;
    height: auto;
    padding: 5px;
    // border: 1px solid $color-primary;
    margin: 5px auto;
}
.item {
    // border: 1px solid #000;
    padding: 0;
}
.guests figure img {
    width: 100%;
}
.guests figcaption {
    padding-top: 10px;
    // border: 1px solid #000;
}
section.participants h3 {
    text-align: center;
    color: $color-secondary;
    font-size: 1.75rem;
}
.guests .h4,
.guests h4 {
    // border: 1px solid #000;
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
}
.guests .h6,
.guests h6 {
    // border: 1px solid #0f0;
    font-size: 0.8rem;
    text-align: center;
    color: $color-primary;
}

footer {
    border: 1px solid transparent;
    border-top-color: #ccc;
    margin-top: 10px;
    height: 50px;
}
footer p {
    text-align: center;
    color: $color-primary;
    font-size: 0.8em;
    padding: 10px;
}

#btn-hamburger,
#btn-hamburger:active {
    border: 0;
    background: transparent;
    padding: 5px;
}

.quicklook {
    border: 1px solid #000;
}
.quicklook .container {
    margin: 10px auto;
    border: 1px solid #0f0;
}
.required {
    color: red;
}


@media (max-width: 770px) {
    section.vision .header img {
        width: 200px;
        height: auto;
    }
    section.vision h2,
    section.vision .h2 {
        font-size: 0.9rem;
    }
    section.vision h3,
    section.vision .h3 {
        font-size: 0.8rem;
        text-align: center;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
    }

    #hamburger {
        display: inline-block !important;
        height: 40px; 
        float: right;
    }
    #menu {
        // border: 1px solid #000;
        padding: 0;
        // position: absolute;
        // bottom: 0;
        overflow-y: hidden;
        left: 0;
        width: 100%;
        opacity: 0;
        // z-index: 1000;
        display: block;
        background-color: #fff;
        height: 0;
        transition: all 1s ease-in-out;/*cubic-bezier(0, 1, 0.5, 1)*/
        // display: none;
    }
    #menu li {
        display: block;
    }
    #menu.menu-open {
        opacity: 1;
        height: 230px;
    }
    #menu.menu-close {
        height: 0;
        opacity: 0;
    }
}